body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    background:hsl(217, 54%, 11%);
    color: hsl(215, 14%, 50%);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 20%;
    background-color:  hsl(216, 50%, 16%);
    border:  hsl(216, 50%, 16%) 1pw solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    padding: 20px;
}
.equilibrium-img{
    width: 100%;
    border-radius: 20px;
}
.name{
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 20px;
    color: white;
}
.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.05px solid rgb(61, 61, 61);
    padding-bottom: 7px;
}
.price{
    color: hsl(178, 100%, 50%);
}
.creator{
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    align-items: center;
    justify-content: space-between;
}
.creator-img{
    width:15%;
    height:15%;
    border: 0.5px solid white;
    border-radius: 50%;

}
span{
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 20px;
    color: white;
}
span:hover{
    color: hsl(178, 100%, 50%) ;
    cursor: pointer;
}